body {
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #571F9C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

header .line {
  height: 12px;
  width: 1px;
  background-color: white;
  opacity: 0.7;
  margin: 0 10px;
}

header .top-page {
  margin: 0 30px;
  width: 100%;
}

header .top-page .left-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-page .left-part a {
  color: white;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

header .top-page .left-part a:hover {
  opacity: 0.7;
}

header .top-page .left-part i {
  font-size: 15px;
  color: white;
  padding-top: 3px;
  padding-right: 5px;
}

header .top-page .right-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-page .right-part a {
  color: white;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  padding-right: 10px;
  white-space: nowrap;
}

header .top-page .right-part a:hover {
  opacity: 0.7;
}

header .top-page .right-part i {
  color: white;
  font-size: 14px;
  padding-right: 5px;
}

.nav-bar-all {
  background-color: white;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar-all .slide-menu {
  overflow: scroll;
  position: fixed;
  width: 0px;
  height: 100%;
  z-index: 10;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.nav-bar-all .slide-menu .closebtn {
  width: 100%;
  border: none;
  padding: 12px 0px;
}

.nav-bar-all .slide-menu .closebtn i {
  float: left;
  padding-left: 12px;
}

.nav-bar-all .slide-menu .slide-left .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-bar-all .slide-menu .slide-left .active,
.nav-bar-all .slide-menu .slide-left .accordion:hover {
  background-color: #ccc;
}

.nav-bar-all .slide-menu .slide-left .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.nav-bar-all .slide-menu .slide-left .panel ul .left-line {
  border-left: 2.5px solid blue;
}

.nav-bar-all .slide-menu .slide-left .panel ul li {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  padding: 12px 0px;
  margin: 5px 0px;
  padding-left: 8px;
  border-bottom: 1px solid grey;
}

.nav-bar-all .slide-menu .slide-left .panel ul li:hover {
  color: blue;
}

.nav-bar-all .slide-menu .slide-left .panel ul .new-comment {
  position: relative;
  overflow: hidden;
}

.nav-bar-all .slide-menu .slide-left .panel ul .new-comment .new {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: green;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -50px;
  top: -40px;
}

.nav-bar-all .slide-menu .slide-left .panel ul .new-comment .new h3 {
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  color: white;
}

.nav-bar-all .slide-menu .slide-left ul {
  list-style: none;
}

.nav-bar-all .img-phone .open span {
  color: white;
  padding: 5px;
  font-size: 2px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #571F9C;
}

.nav-bar-all .nav-bar-logo {
  margin: 0 30px;
}

.nav-bar-all .nav-bar-logo img {
  width: 80%;
}

.nav-bar-all .nav-menu {
  padding-top: 10px;
}

.nav-bar-all .nav-menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav-bar-all .nav-menu ul .first-li {
  color: #571F9C !important;
}

.nav-bar-all .nav-menu ul .first-li:hover .home-nav {
  opacity: 100%;
  visibility: visible;
  z-index: 205;
}

.nav-bar-all .nav-menu ul .work-li:hover .works-nav {
  opacity: 100%;
  visibility: visible;
  z-index: 205;
}

.nav-bar-all .nav-menu ul .short-li:hover .short-nav {
  opacity: 100%;
  visibility: visible;
  z-index: 205;
}

.nav-bar-all .nav-menu ul li {
  list-style: none;
  margin: 0 15px;
  font-size: 20px;
}

.nav-bar-all .nav-menu ul li .home-nav {
  background-color: #fafcfc;
  position: absolute;
  margin-top: 40px;
  overflow: hidden;
  left: -200px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0%;
  z-index: -15;
  visibility: hidden;
}

.nav-bar-all .nav-menu ul li .home-nav .square {
  position: absolute;
  top: -25%;
  left: 18%;
  background-color: white;
  width: 600px;
  height: 800px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.nav-bar-all .nav-menu ul li .home-nav img {
  z-index: 5;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home {
  position: absolute;
  top: 0%;
  left: 25%;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home:hover span {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home i {
  padding-right: 8px;
  font-weight: 600;
  opacity: 0.6;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home ul {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home ul li {
  margin-bottom: 7px;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home ul li a:hover {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li .home-nav .left-home span {
  font-size: 15px;
  padding-left: 1rem;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home {
  position: absolute;
  top: 0%;
  left: 50%;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home:hover span {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home i {
  padding-right: 8px;
  font-weight: 600;
  opacity: 0.6;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home ul {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home ul li {
  margin-bottom: 7px;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home ul li a:hover {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li .home-nav .right-home span {
  font-size: 15px;
  padding-left: 1rem;
}

.nav-bar-all .nav-menu ul li .home-nav img {
  width: 100%;
}

.nav-bar-all .nav-menu ul li .home-nav .double {
  margin: 10px 0;
  border-top: 2px solid grey;
  height: 3px;
  opacity: 0.3;
  border-bottom: 2px solid grey;
}

.nav-bar-all .nav-menu ul li .works-nav {
  overflow: hidden;
  padding: 20px;
  background-color: #EAF0F2;
  position: absolute;
  right: 20%;
  margin-top: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0%;
  z-index: -15;
  visibility: hidden;
}

.nav-bar-all .nav-menu ul li .works-nav .square {
  position: absolute;
  top: -80%;
  left: 20%;
  background-color: white;
  width: 420px;
  height: 1000px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.nav-bar-all .nav-menu ul li .works-nav i {
  padding-right: 8px;
  font-weight: 600;
  opacity: 0.6;
}

.nav-bar-all .nav-menu ul li .works-nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-bar-all .nav-menu ul li .works-nav ul li {
  margin: 0;
  padding-bottom: 15px;
}

.nav-bar-all .nav-menu ul li .works-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li .works-nav ul li a:hover {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li .short-nav {
  overflow: hidden;
  background-color: #fafcfc;
  position: absolute;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0%;
  left: -250px;
  z-index: -15;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li .short-nav .double {
  margin: 10px 0;
  border-top: 2px solid grey;
  height: 3px;
  opacity: 0.3;
  border-bottom: 2px solid grey;
}

.nav-bar-all .nav-menu ul li .short-nav .square {
  position: absolute;
  top: -25%;
  left: 20%;
  background-color: white;
  width: 600px;
  height: 800px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.nav-bar-all .nav-menu ul li .short-nav .shortcode1 {
  top: 9%;
  left: 0%;
  position: absolute;
}

.nav-bar-all .nav-menu ul li .short-nav .shortcode2 {
  top: 9%;
  left: 25%;
  position: absolute;
}

.nav-bar-all .nav-menu ul li .short-nav .shortcode3 {
  top: 9%;
  left: 50%;
  position: absolute;
}

.nav-bar-all .nav-menu ul li .short-nav .shortcode4 {
  top: 9%;
  left: 75%;
  position: absolute;
}

.nav-bar-all .nav-menu ul li .short-nav img {
  height: 350px;
  width: 100%;
}

.nav-bar-all .nav-menu ul li .short-nav span {
  padding-left: 10px;
}

.nav-bar-all .nav-menu ul li .short-nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-bar-all .nav-menu ul li .short-nav ul i {
  padding-right: 8px;
  font-weight: 600;
  opacity: 0.6;
}

.nav-bar-all .nav-menu ul li .short-nav ul li {
  margin: 0;
  padding-bottom: 15px;
}

.nav-bar-all .nav-menu ul li .short-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li .short-nav ul li a:hover {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li span {
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-bar-all .nav-menu ul li span:hover {
  color: #571F9C;
}

.nav-bar-all .nav-menu ul li span i {
  font-size: 15px;
}

.about-us .up-comment {
  width: 100%;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 10px;
}

.about-us .up-comment h2 {
  font-weight: 400;
}

.about-us .up-comment p {
  font-weight: 300;
}

.about-us .left .blue-line {
  width: 50px;
  height: 2px;
  background: #571F9C;
  margin: 20px 0px;
}

.about-us .left h1 {
  font-weight: 400;
}

.about-us .left p {
  color: #999999;
  font-weight: 400;
  padding: 2px 0px;
}

.about-us .left h4 {
  font-weight: 300;
  font-size: 20px;
}

.about-us .left h5 {
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  padding-top: 10px;
}

.about-us .right img {
  width: 100%;
}

.mid-comment {
  width: 100%;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 10px;
  margin: 40px 0px;
}

.mid-comment .abc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-comment .abc .leftcom {
  font-weight: 700;
}

.mid-comment .abc .rightcom {
  padding-left: 10px;
  font-weight: 400;
}

.mid-comment h2 {
  font-weight: 400;
}

.mid-comment p {
  font-weight: 300;
  width: 90%;
  margin: auto;
  color: #a7a7a7;
  padding-top: 10px;
  padding-bottom: 20px;
}

.mid-comment .abcd {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-comment .abcd .for-bg {
  background: #571F9C;
  padding: 10px 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.mid-comment .abcd .for-bg .line1 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 0%;
  height: 2px;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mid-comment .abcd .for-bg .line2 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 2px;
  height: 0%;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mid-comment .abcd .for-bg .line3 {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 2px;
  height: 0%;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mid-comment .abcd .for-bg .line4 {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 0%;
  height: 2px;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mid-comment .abcd .for-bg:hover {
  background: #4b1c85;
}

.mid-comment .abcd .for-bg:hover .line1 {
  width: 60%;
}

.mid-comment .abcd .for-bg:hover .line2 {
  height: 80%;
}

.mid-comment .abcd .for-bg:hover .line3 {
  height: 80%;
}

.mid-comment .abcd .for-bg:hover .line4 {
  width: 80%;
}

.mid-comment .abcd .for-bg a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.mid-comment .abcd .for-bg i {
  font-size: 15px;
  color: white;
  padding-left: 15px;
}

.share {
  padding: 30px 0px;
}

.share .one-share {
  text-align: center;
}

.share .one-share .ico i {
  font-size: 90px;
  color: #571F9C;
}

.share .one-share .comment h5 {
  white-space: nowrap;
  padding: 5px 0px;
}

.share .one-share .comment p {
  color: #919191;
  font-weight: 300;
  font-size: 18px;
  padding: 5px 0px;
}

.share .one-share .abcd {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share .one-share .abcd .for-bg {
  border: 2px solid #571F9C;
  background-color: white;
  padding: 10px 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.share .one-share .abcd .for-bg .line1 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 0%;
  height: 2px;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.share .one-share .abcd .for-bg .line2 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 2px;
  height: 0%;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.share .one-share .abcd .for-bg .line3 {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 2px;
  height: 0%;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.share .one-share .abcd .for-bg .line4 {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 0%;
  height: 2px;
  background-color: #571F9C;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.share .one-share .abcd .for-bg:hover {
  background: #4b1c85;
}

.share .one-share .abcd .for-bg:hover .line1 {
  width: 60%;
}

.share .one-share .abcd .for-bg:hover .line2 {
  height: 80%;
}

.share .one-share .abcd .for-bg:hover .line3 {
  height: 80%;
}

.share .one-share .abcd .for-bg:hover .line4 {
  width: 80%;
}

.share .one-share .abcd .for-bg:hover a {
  color: white;
}

.share .one-share .abcd .for-bg a {
  text-decoration: none;
  font-weight: 400;
  color: #571F9C;
}

.brand-slider {
  padding: 20px 0px;
}

.brand-slider .abc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand-slider .abc .leftcom {
  font-weight: 700;
}

.brand-slider .abc .rightcom {
  padding-left: 10px;
  font-weight: 400;
}

.brand-slider .multiple-items {
  width: 90%;
  margin: auto;
}

.brand-slider .multiple-items .one-slide {
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand-slider .multiple-items .one-slide img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #111111;
}

footer .all-footer {
  padding: 3rem 1rem 1rem 1rem;
  border-bottom: 1px solid grey;
}

footer .all-footer .copyright {
  text-align: center;
}

footer .all-footer .copyright p {
  color: grey;
  margin-top: 15px;
}

footer .all-footer .copy-line {
  width: 90%;
  height: 1px;
  margin-top: 4rem;
  background-color: rgba(128, 128, 128, 0.534);
}

footer .all-footer h3 {
  color: white;
}

footer .all-footer .line {
  width: 25px;
  height: 2px;
  background-color: #571F9C;
  margin-bottom: 12px;
}

footer .all-footer .left-foot p {
  color: grey;
  font-size: 19px;
}

footer .all-footer .left-foot h6 {
  margin: 25px 0;
  color: grey;
}

footer .all-footer .left-foot i {
  color: grey;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .all-footer .left-foot i:hover {
  color: white;
}

footer .all-footer .left-foot img {
  width: 50%;
  padding-bottom: 25px;
}

footer .all-footer .center-foot .foot-ul .left {
  margin-right: 50px;
}

footer .all-footer .center-foot ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

footer .all-footer .center-foot ul li {
  list-style: none;
  margin-bottom: 15px;
  color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .all-footer .center-foot ul li:hover {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

footer .all-footer .center-foot ul li a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
}

footer .all-footer .center-foot ul li a:hover {
  color: white;
}

footer .all-footer .center-foot ul li a i {
  font-size: 16px;
  padding-right: 9px;
}

footer .all-footer .right-foot i {
  color: grey;
  font-size: 18px;
  padding-right: 10px;
}

footer .all-footer .right-foot p {
  color: grey;
  font-size: 18px;
}

footer .all-footer .right-foot ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

footer .all-footer .right-foot ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .all-footer .right-foot ul li a {
  color: grey;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .all-footer .right-foot ul li a:hover {
  color: white;
}

@media screen and (max-width: 769px) {
  .nav-bar-all .nav-menu {
    display: none;
  }
  .nav-bar-all .nav-bar-logo {
    text-align: center;
    margin-left: 5rem;
  }
  header .top-page {
    text-align: center;
  }
  header .top-page .right-part {
    margin-top: 5px;
  }
}

@-webkit-keyframes anime-ico {
  from {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anime-ico {
  from {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=aboutus.css.map */