<section class="process">
    <div class="conteiner mt-5">
        <div class="row ">
            <h2>Process</h2>
            <p><strong>Home / &nbsp;</strong>Process</p>
            <div class="col-lg-12 col-12  pt-5 pb-5">
                <div class="step">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                            <img class="img-fluid" src="~/assets/photo/process1.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12 m-auto">
                            <div class="text">
                                <h6>Step 1</h6>
                                <h3>Define & List the problem</h3>
                                <p>The three most important parameters for a brand is the quality, diversity and the class of operation it entails. Once it succeeds, the aura around it will be built up.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- ----------------- -->
            <div class="col-lg-12 col-12 pt-5 pb-5">
                <div class="step">
                    <div class="row flex-md-row-reverse  flex-row">
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                            <img class="img-fluid" src="~/assets/photo/process2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12 m-auto">
                            <div class="text">
                                <h6>Step 2</h6>
                                <h3>Define & List the problem</h3>
                                <p>The three most important parameters for a brand is the quality, diversity and the class of operation it entails. Once it succeeds, the aura around it will be built up.</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>


    </div>

</section>
<section class="design pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="evolution">
                    <h2>Evolution of design</h2>
                    <p>When the client comes to us with their version of the scenario, we analyze the scenario and give specific steps to take for going forward. If the steps are unpalatable to the clients, we still abide by them.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="evo-img pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3">
                <div class="img1">
                    <img src="~/assets/photo/process3.jpg" alt="">
                    <div class="bg1">
                        <h1>1</h1>
                    </div>

                </div>
                <h4>Brainstorming</h4>
                <p>The embryonic stage of the idea and its conception before birth.</p>
            </div>
            <div class="col-lg-3 ">
                <div class="img1">
                    <img class="img-fluid" src="~/assets/photo/process4.jpg" alt="">
                    <div class="bg1">
                        <h1>2</h1>
                    </div>
                </div>
                <h4>Develop the prototype</h4>
                <p>Having isolated the idea, develop the modus operandi of the design.</p>
            </div>
            <div class="col-lg-3">
                <div class="img1">
                    <img class="img-fluid" src="~/assets/photo/process5.jpg" alt="">
                    <div class="bg1">
                        <h1>3</h1>
                    </div>

                </div>
                <h4>Evolve the solution</h4>
                <p>The embryonic stage of the idea and its conception before birth.</p>
            </div>
            <div class="col-lg-3">
                <div class="img1">
                    <img class="img-fluid" src="~/assets/photo/process6.jpg" alt="">
                    <div class="bg1">
                        <h1>4</h1>
                    </div>

                </div>
                <h4>Review and Redesign</h4>
                <p>The entire branding concept to be reworked if necessary and redesigned</p>
            </div>
        </div>
    </div>
</section>
<section class="method">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>The classical method of strategy selection</h2>
                <p>Once the results of our investigation and data collection methodology are completed, we analyze the data using the software like SPSS.</p>
                <div class="abcd d-flex justify-content-start">
                    <div class="for-bg">
                        <a href="">Our Careers Portal </a>
                        <i class="fas fa-angle-right"></i>
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                        <div class="line4"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-dot-circle"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>

                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="fab fa-accusoft"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-address-book"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-dot-circle"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>

                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>