<section class="process">
    <div class="conteiner mt-5">
        <div class="row ">
            <h2>Process</h2>
            <p><strong>Home / &nbsp;</strong>Process</p>
            <div class="col-lg-12 col-12  pt-5 pb-5">
                <div class="step">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                            <img class="img-fluid" src="~/assets/photo/process1.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12 m-auto">
                            <div class="text">
                                <h3>Bizimlə əmıkdaşlığa bu gün başlayın və fərqi hiss edin</h3>
                                <p>Müştərilərimizin onlayn gəlir potensiyalını açmağa, inkişaf etdirməyə və yeniliklər etməsi üçün vebsaytlar dizayn edir və inkişaf etdiririk.Qurmadan əvvəl dinləyirik, öyrənirik və başa düşürük.Hədəflərinizi birlikdə müəyyənləşdirir,sonra daha effektli yolu tapmaq üçün tərübəmizdən istifadə edirik.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- ----------------- -->
            <div class="col-lg-12 col-12 pt-5 pb-5">
                <div class="step">
                    <div class="row flex-md-row-reverse  flex-row">
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                            <img class="img-fluid" src="~/assets/photo/process2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12 m-auto">
                            <div class="text">
                                <h3>Sərfəli qiymətlər</h3>
                                <p>Göstərdiyimiz xidmətlər ilə yaxından tanış olsanız, qiymətlərimizin nə qədər sərfəli olduğunu görə bilərsiniz.</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-12  pt-5 pb-5">
                <div class="step">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12">
                            <img class="img-fluid" src="~/assets/photo/process1.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-12 col-md-12 col-sm-12 m-auto">
                            <div class="text">
                                <h3>Mükəmməl texniki dəstək</h3>
                                <p>Suallarınız yaranarsa mütəxəssislərimiz kömək etməyə daim hazırdırlar.Mükəmməl səviyyədə təşkil edilmiş dəstək komandamız 7/24 xidmətinizdədir.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

</section>
<section class="method">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>The classical method of strategy selection</h2>
                <p>Once the results of our investigation and data collection methodology are completed, we analyze the data using the software like SPSS.</p>
                <div class="abcd d-flex justify-content-start">
                    <div class="for-bg">
                        <a href="">Our Careers Portal </a>
                        <i class="fas fa-angle-right"></i>
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                        <div class="line4"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-dot-circle"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>

                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="fab fa-accusoft"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-address-book"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-dot-circle"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>

                </div>
                <div class="ico">
                    <div class="clock">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <div class="text">
                        <h4>Exploratory Research</h4>
                        <p>Once the client entrusts the project to us, we launch our research process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>