@model HomeViewModel

    <section class="portfolios">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 col-md-3">
                    <div class="left-port">
                        <div class="line">
                        </div>
                        <h3>Categories</h3>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li><a href="/home/works/@category.ID">@category.CategoryName</a></li>

                            }
                        </ul>

                    </div>


                </div>
                <div class="col-12 col-md-9 col-lg-9">
                    <div class="right-port">
                        <div class="row">
                            @foreach (var work in Model.Galleries)
                            {
                            <div class="col-12 col-md-6  col-lg-4">
                                <div class="img">
                                    <img src="@work.PhotoURL" alt="">
                                    <div class="ground"></div>
                                    <a href="/product/detail/@work.ID">
                                        <i class="fas fa-plus"></i>
                                    </a>

                                </div>
                            </div>
                            }
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

