<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/good.css">
    <link rel="stylesheet" href="~/assets/css/aboutus.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/Vendors/Slick/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container">
            <div class="top-page">
                <div class="row">

                    <div class="col-10 col-lg-4 col-md-5">
                        <div class="left-part d-flex justify-content-sm-center justify-content-lg-start justify-content-md-start" >
                            <i class="fas fa-envelope"></i>
                            <a href="#">info@websuper.az</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-1"></div>
                    <div class="col-12 col-lg-4 col-md-5">
                        <div class="right-part d-flex">
                            @*<i class="fas fa-map-pin"></i>
                            <a href="#">Branches</a>
                            <div class="line"></div>
                            <i class="fas fa-shopping-cart"></i>
                            <a href="#">Store</a>
                            <div class="line"></div>
                            <i class="fas fa-user-circle"></i>
                            <a href="#">Contact us</a>*@
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </header>
    <section style="margin-bottom:10px;" class="nav-bar-all">

        <div class="container">
            <div class="row">
                <div class="col-10 col-lg-3 col-md-7 col-sm-10">
                    <div class="res-logo">
                        <div class="nav-bar-logo">
                            <a href="#">
                                <img style="margin-bottom: 10px; width:200px; fill: red;" src="~/assets/photo/logowhite.svg" alt="">
                            </a>
                        </div>
                        <div style="width: 100% !important; margin-left: 20px;"
                             class="img-phone  d-flex d-lg-none d-md-none">
                            <div class="open" style="width: 100% !important;">
                                <span style=" width: 400px !important;padding: 5px 20px;  font-size:20px;cursor:pointer"
                                      onclick="openNav()">
                                    Menu <i style="padding-left: 20px;"
                                            class="fas fa-bars"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                    <div id="mySidenav" class="slide-menu">
                        <div class="slide-left">
                            <button href="javascript:void(0)" class="closebtn" onclick="closeNav()" ">
                                <i style=" color: black;" class=" fas fa-angle-left"></i>
                            </button>
                            <ul>
                                <li><a href="#">Home</a>  </li>
                                <li><a href="#">About Us</a>  </li>
                                <li><a href="#">Our Works</a>  </li>
                                <li><a href="#">Why We</a>  </li>
                                <li><a href="#">    Contact</a>  </li>

                            </ul>




                        </div>
                    </div>
                </div>
                <div class="col-9 col-lg-9 col-md-12 col-sm-12 text-right">
                    <div class="nav-menu">
                        <ul>
                            <li>
                                <a style="text-decoration: none; color:#000;" href="/">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a style="text-decoration: none; color:#000;" href="/home/aboutus">
                                    <span>About Us</span>
                                </a>
                            </li>
                            <li>
                                <a style="text-decoration: none; color:#000;" href="/home/works">
                                    <span>Our Works</span>
                                </a>
                            </li>
                            <li>
                                <a style="text-decoration: none; color:#000;" href="/home/whywe">
                                    <span>Why We</span>
                                </a>
                            </li>
                            <li>
                                <a style="text-decoration: none; color:#000;" href="/home/contactus">
                                    <span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderBody()
    <footer>
        <div style="margin-top:60px;" class="all-footer ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 ">
                        <div class="left-foot">
                            <img src="~/assets/photo/logowhite.svg" alt="">
                            <p>
                                We design and develop websites to develop and renew our clients' online income potential. We listen, study and understand before tweaking. Together we define your goals and then use our experience to find a more efficient way.
                            </p>
                            <h6>STAY CONNECTED</h6>
                            <div class="items-footer d-flex">
                                <a href="#">
                                    <i class="far fa-envelope"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4" style="margin: 2rem 0;">
                        <div class="center-foot">
                            <div class="line"></div>
                            <h3>Useful Links</h3>
                            <div class="foot-ul d-flex">
                                <ul class="left">
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-angle-right"></i>Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-angle-right"></i>About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-angle-right"></i>Our Works
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-angle-right"></i>Why We
                                        </a>
                                    </li>
                                </ul>
                                <ul class="right">
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-angle-right"></i>Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div style="margin-top: 30px;" class="right-foot">
                            <div class="line"></div>
                            <h3>Contact Us</h3>
                            <ul>
                                <li class="d-flex">
                                    <i class="fas fa-home"></i>
                                    <p>
                                        Azerbaijan,Baku
                                        <br>
                                        Zargarpalan 137
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <i class="fas fa-phone-volume"></i>
                                    <p>+994(50)800-63-53
                                        (226) 906-2721
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="#">info@websuper.az</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copy-line"></div>
                <div class="copyright">
                    <p>Copyright © 2017, DesignThemes Privacy Policy Terms & Conditions</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/Vendors/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/assets/Vendors/Slick/slick.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>

</html>